<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Fake News Detection</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<h1 align="Center">Predict Fake News</h1>
<body>
   

    <div class="login">
      <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">


        <input id="file-picker" type="file" name="file" accept="image/*" multiple>
        <input type="submit" class="btn btn-primary btn-block btn-large" value="Upload!" id="upload-button">
      </form>
 
    
    <form action="/handleUpload" method="post" enctype="multipart/form-data">

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
     </form>
	    <br>
   <br>
   {{ prediction_text }}
    </div>
</body>
<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>
</html>